<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brreg formatter</title>
    <link rel="stylesheet" href='/static/styles/cssformat.css' />
</head>
<body>

<h1>Resultat</h1>

{% for table in tables %}
            {{ table|safe }}
{% endfor %}
<p>
    
    -------------

</p>
<a onclick="copyTemplate()" href="mailto:{{ emailslist }}?subject=Forespørsel om sletting av utleggspant på motorvogn med regnr. {{ regnr }}.&Subject=">Send Epost
    </a>
<p>Eier: X fødselsdato: xx.xx.xx - XXXXX<br>
    Vi har fått objektet tilbakelevert frivillig for salg, men det foreligger etterstående utleggspant.<br>
    <br>
    Vi forespør herved om dere sletter etterstående pant i {{ regnr }} etter at frivillig salg er gjennomført.<br>
    Dette med bakgrunn i flg tall - NAF Verdivurdering (vedlegg)                kr.   X,-<br>
    Vårt utestående krav XXXXXXXXXXXXX - Sikret med 1.pri salgspant pr i dag    kr.   X,-<br>
    <br>
    Slik det ser ut i dag vil dere dessverre uansett ikke få dekket deres utestående i dette objektet. <br>
    Eventuelt overskytende vil etter salget bli fordelt etterstående panthavere.<br>
    Ber om en velvillig behandling.<br>
    <br>
    Gjelder deres utleggspant med følgende dagboknummer:<br>
    {% for panteliste in panteliste %}
        {{ panteliste }} <br>
    {% endfor %}
    <br>
    Vi setter pris på en rask tilbakemelding.<br>
    <br></p>

<p></p>

<form method="POST">
    <input name="text">
    <input type="submit">
</form>
</html>
<script>
    function copyTemplate(){
        stuff = document.querySelectorAll("p")[1].innerText
        tocopy = document.createElement("textarea")
        tocopy.setAttribute('readonly', ''); 
        tocopy.style.position = 'absolute';
        tocopy.style.left = '-9999px';
        tocopy.value = stuff;
        document.body.appendChild(tocopy); 
        tocopy.select();
        document.execCommand("copy");
        document.body.removeChild(tocopy);
    }
</script>